#buttons {
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border: 1px solid green;
  }
  
  #instruments-form{
      color: black;
      font-size: 16px;
  }
  
  #add-instrument{
      color: black;
      text-align: center;
      border: 2px solid green;
  }